@import 'partial';

body {
  font-family: $font, sans-serif;
  overflow: hidden
}

.Mainpage {
  background-color: $color5;
  width: 100vw;
  height: 100vh;
  margin-left: 0px;
  overflow: hidden;
}

.main-row {
  height: 95vh;
}

.map-column , .tour-column {
  padding: 0px;
}

.tour-column {
  margin-top: 7vmax;
}

.single-tour-plan {
  width: 100%;
  height: 6vmax;
  cursor: pointer;
  color: $color1;
}

.tour-plan-name {
  font-weight: 500;
  font-size: 1vmax;
  display: table-cell;
  vertical-align: middle;
}

.tour-plan-price {
  font-weight: 500;
  margin-left: 3vmax;
  border: 3px solid $color1;
  padding: 0.15vmax;
  @include border-radius(0.5vmax)
  font-size: 1vmax;
}

.tour-plan-img {
  width: 100%;
  height: 6vmax;
}

.price_wrapper {
  width: 25%;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.name_wrapper {
  width: 47%;
  float: left;
  display: table;
  height: 100%;
}

.img_wrapper {
  width: 28%;
  float: left;
}

[data-odd-checker^="0"] {
  background-color: rgba($color3_rgb, 0.2) !important;
}

[data-odd-checker^="1"] {
  background-color: rgba($color3_rgb, 0.4) !important;
}

.main-footer {
  height: 5vh;
  margin: 0px;
  background-color: $color3;
}

.footer-text {
  font-size: 1vmax;
  color: $color1;
  font-weight: 500;
  line-height: 5vh;
}

.copyright-text {
  float: left;
  padding-left: 4vmax;
  @extend .footer-text
}

.developed-text {
  position: absolute;
  right: 2vmax;
  @extend .footer-text
}
