.Secondpage {
  height: 100vh;
  background-color: #FFF6E3; }

.header {
  text-align: center; }

.header-text {
  font-family: Roboto, sans-serif;
  font-size: 45px;
  font-weight: 500;
  color: #A08A58; }

.cloud {
  height: 200px; }
