$color1 : #5B553D;
$color2 : #A08A58;
$color3 : #BAA478;
$color4 : #E5C875;
$color5 : #FFF6E3;

.Secondpage {
  height: 100vh;
  background-color: $color5;
}

.wrapper {
  text-align: center;
  padding-top: 1em;
}

.text {
  font-family: Roboto, sans-serif;
  font-size: 45px;
  font-weight: 500;
  color: $color2;
}

.cloud_wrapper {
  padding-top: 1em;
}