$color1 : #5B553D;
$color2 : #A08A58;
$color3 : #BAA478;
$color4 : #E5C875;
$color5 : #FFF6E3;
$font : "Roboto";

body {
  font-family: $font, sans-serif;
  overflow: hidden
}

.Secondpage {
  height: 100vh;
  background-color: $color5;
}

.cloud_wrapper {
  padding-top: 3vh;
}

.header-wrapper {
  text-align: center;
  @extend .cloud_wrapper;
}

.header-txt {
  font-size: 4.5vh;
  font-weight: 500;
  color: $color2;
}

.steps, .days, .money {
  font-size: 3vh;
  font-weight: 300;
  color: $color1;
}

.footer-img {
  position: fixed;
  bottom: 0;
}

.tree {
  margin-bottom: -5vh;
  z-index: 999;
}


