body {
  font-family: "Roboto", sans-serif; }

.Secondpage {
  height: 100vh;
  background-color: #FFF6E3; }

.centered, .header-wrapper {
  text-align: center; }

.cloud_wrapper, .header-wrapper {
  padding-top: 1rem; }

.header-txt {
  font-size: 2.5rem;
  font-weight: 500;
  color: #A08A58; }
